# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/generated_plugin_registrant.*

# Linux
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake

# IDEs
.idea/
.vscode/
*.iml

# Others
pubspec.lock
